<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>desc</key>
		<string>界面</string>
		<key>list</key>
		<array>
			<dict>
				<key>id</key>
				<string>1_1</string>
				<key>name</key>
				<string>九宫格图片显示</string>
			</dict>
			<dict>
				<key>id</key>
				<string>1_1</string>
				<key>name</key>
				<string>头像上传</string>
			</dict>
			<dict>
				<key>id</key>
				<string>1_3</string>
				<key>name</key>
				<string>热门搜索文字排序</string>
			</dict>
			<dict>
				<key>id</key>
				<string>1_4</string>
				<key>name</key>
				<string>饼状图</string>
			</dict>
			<dict>
				<key>id</key>
				<string>1_5</string>
				<key>name</key>
				<string>仿网易新闻首页</string>
			</dict>
			<dict>
				<key>id</key>
				<string>1_6</string>
				<key>name</key>
				<string>富文本处理</string>
			</dict>
			<dict>
				<key>id</key>
				<string>1_7</string>
				<key>name</key>
				<string>仿朋友圈(图文列表)</string>
				<key>New item</key>
				<string></string>
			</dict>
			<dict>
				<key>id</key>
				<string>1_8</string>
				<key>name</key>
				<string>UIKit</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>数据</string>
		<key>list</key>
		<array>
			<dict>
				<key>id</key>
				<string>2_1</string>
				<key>name</key>
				<string>数据库存储</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>动效</string>
		<key>list</key>
		<array>
			<dict>
				<key>id</key>
				<string>3_1</string>
				<key>name</key>
				<string>UIKit动效</string>
			</dict>
			<dict>
				<key>id</key>
				<string>3_2</string>
				<key>name</key>
				<string>弹出View动画</string>
			</dict>
			<dict>
				<key>id</key>
				<string>3_3</string>
				<key>name</key>
				<string>QQ播放音乐动画</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>社交</string>
		<key>list</key>
		<array>
			<dict>
				<key>id</key>
				<string>4_1</string>
				<key>name</key>
				<string>第三方登录、分享</string>
			</dict>
			<dict>
				<key>name</key>
				<string>第三方支付</string>
				<key>id</key>
				<string>4_2</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>H5</string>
		<key>list</key>
		<array/>
	</dict>
	<dict>
		<key>desc</key>
		<string>Objc调用Swift样例</string>
		<key>list</key>
		<array>
			<dict>
				<key>id</key>
				<string>5_1</string>
				<key>name</key>
				<string>调用实例</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
